<!doctype html>
<html>
  <head>
    <title>sreterminal v0.4</title>
    <link rel="icon" type="image/x-icon" href="../static/images/apple-touch-icon.png">
  </head>
  <body style="background-color:powderblue;text-align:center">
    <h1>SRE Terminal</h1><br>
    <p style="font-size:20px">
        <b>Who is a Site Reliability Engineer?</b><br>
        <i>A software engineer who uses code to manage the reliability of software systems.</i><br><br>
        <b>Characteristics of a Good SRE?</b><br>
        <i>SRE <strong>Metrics</strong>: Can tell whether their app is healthy or unhealthy in minutes.<br>
        Believes in Extreme <strong>Automation</strong> - Says no to doing the same thing manually more than twice.<br>
        Can define and implement <strong>Availability</strong>; aka SLIs, SLOs, Error Budgets.<br>
        Identify and build <strong>Reliability Fixes</strong> backlog for Dev teams.<br>
        Looks for failure scenarios and thinks <strong>failovers</strong>.<br>
        Thinks Continuous Improvement / <strong>Optimization</strong>.<br>
        Loves <strong>Logs</strong>.</i>
    </p>
    <h1>Jai Chenchlani</h1><br>
    <p style="font-size:30px">    
    <a href="https://www.linkedin.com/in/jaichenchlani/" target="_blank">Linkedin</a> |
    <a href="https://www.facebook.com/jaichenchlani" target="_blank">Facebook</a> |
    <a href="https://jaichenchlani.medium.com/" target="_blank">Blogs</a> |
    <a href="https://www.youtube.com/channel/UCJlOrn-AEJo613ZCEh9xPrg" target="_blank">My YouTube Channel - CodeGarage</a>
    </p>
  </body>
</html>